html {
  background: url(../imgs/calendar-background-design/ONZFBB0-edited.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  position:fixed;
  bottom:0;
  width: 100%;
}

#results {
    white-space: pre-wrap;
}

/* This didn't work on its own and idk why. Had to put it directly in the div.
#video {
  display: none;
} */