<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Day of the week guessing game inspired by the Doomsday Algorithm Numberphile video.">
    <meta name="keywords" content="doomsday, algorithm, doomsday algorithm, numberphile, calendar trick, calendar, day of the week, guessing game, random date">
    <meta name="author" content="Ari J.">
    <title>Day of the Week Guessing Game</title>
    <script src="../static/js/time_and_stats.js"></script>
    <link rel="stylesheet" href="../static/css/dayoftheweekguessinggame.css">
    <link rel="icon" type="image/ico" href="../static/imgs/285670_calendar_icon.ico"/>
</head>
<body onload="init()">
    <!-- May want to properly center things later -->
<center>

    <h1>Welcome to the Day of the Week Guessing Game!</h1>

    <section>
        <div>
            <!-- Form with options for generating a random date. -->
            <form action="." method="POST">
                <div class ="form_title"><u>Use the settings below to generate a random date, then guess the day of the week using your input of choice.</u></div><br>
                <!-- Language selection. -->
                <label for="language">Choose a language:</label>
                <select id="language" name="language">
                    <option value="de_DE">Deutsch</option>
                    <option value="en_US">English</option>
                    <option value="es_ES">Español</option>
                </select>

                <br>
                <!-- Date format. -->
                <label for="date_format">Date format:</label>
                <select id="date_format" name="date_format">
                    <option value="%d/%m/%Y">14/03/1592</option>
                    <option value="%d_%B_%Y">14 March 1592</option>
                    <option value="%m/%d/%Y">03/14/1592</option>
                    <option value="%B_%d,_%Y">March 14, 1592</option>
                    <option value="%Y-%m-%d">1592-03-14</option>
                    <option value="%Y_%B_%d">1592 March 14</option>
                </select>
                
                <br>
                <!-- Earliest year for range of generated dates. -->
                <label for="start_year">Earliest possible year:</label>
                <div>
                    <input type="range" id="start_year" name="start_year" min="1582" max="9999" value="" oninput="this.nextElementSibling.value = this.value">
                    <input type="text" id="start_year_text" class="year" name="start_year_text" value="" oninput="this.previousElementSibling.value = this.value">
                </div>

                <!-- Latest year for range of generated dates. -->
                <label for="end_year">Latest possible year:</label>
                <div>
                    <input type="range" id="end_year" name="end_year" min="1582" max="9999" value="" oninput="this.nextElementSibling.value = this.value">
                    <input type="text" id="end_year_text" class="year" name="end_year_text" value="" oninput="this.previousElementSibling.value = this.value">
                </div>

                <!-- Frequency of dates within a few centuries of the present. -->
                <!-- DELETE EXTRA DIV ONCE THIS FEATURE IS IMPLEMENTED -->
                <div hidden>
                <label for="cutoff">Percentage of dates guaranteed to be within a few centuries of the present:</label>
                <div>
                    <input type="range" id="cutoff" name="cutoff" min="0" max="100" value="" oninput="this.nextElementSibling.value = this.value">
                    <input type="text" id="cutoff_text" name="cutoff_text" value="" oninput="this.previousElementSibling.value = this.value">%
                </div>
                </div>

                <!-- Options for how to input the day of the week. -->
                <label for="enable_text">Answer input options: </label>
                <input type="checkbox" id="enable_text" value="">Text Box
                <input type="checkbox" id="enable_buttons" value="">Buttons
                
                <br>
                <input type="submit" id="generate_date" value="Generate Date" onclick="save_options()">
            </form>
        </div>
    </section>

    <h3 id="date">{{date}}</h3>

    <div id="guessing_game">
        <div id="text_input">
            Enter your guess (not case sensitive):
            <input type="text" id="guess" placeholder="E.g. Monday, friday" autofocus>
            <button id="check">Check</button>
        </div>

        <div id="button_input">
            <label for="day0" id="buttons_label">Click on your guess below.</label>
            <br>
            <button id="day0"></button> 
            <button id="day1"></button>
            <button id="day2"></button>
            <button id="day3"></button>
            <br>
            <button id="day4"></button>
            <button id="day5"></button>
            <button id="day6"></button>
        </div>
    </div>

    <div hidden><div><div><div><div id="dayoftheweek" data-dayoftheweek="{{dayoftheweek}}"></div></div></div></div></div>

    <h3 id="results" hidden></h3>
    <button id="download_results" onclick="download_stats()" hidden>Download Results and Statistics</button>

    <br>
    <button onclick="sessionStorage.clear()">Clear Session</button>

    <br><br><br><br>

    <div onclick="change_display('video')">This game was inspired by the Numberphile video on the Doomsday Algorithm. Click here to watch it and learn how to determine the day of the week of any date.</div>
    <div id="video" style="display:none">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z2x3SSBVGJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>

    <div onclick="change_display('feedback')">Want to leave feedback or suggestions? Click here.</div>
    <div id="feedback" style="display:none">
        <form action="{{ url_for('feedback_post') }}" method="POST">
            <textarea id="feedback_text" name="feedback_text" rows="4" cols="50" placeholder="Enter your message."></textarea>
            <br>
            <input type="submit" id="submit_feedback" value="Submit Feedback">
        </form>
    </div>

    <footer>
        <a href="https://www.freepik.com/vectors/background">Background vector created by blossomstar - www.freepik.com</a>
        &emsp;
        <a href="https://www.iconfinder.com/icons/285670/calendar_icon">Favicon created by Paomedia - www.iconfinder.com</a>
    </footer>
    
    </center>

</body>

</html>